body {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}
.tittle {
  color: black;
  font-size: 13px;
}
#contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(5, 10, 5), rgb(90, 40, 90, 0.8)),
    url(a.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav {
  width: 80%;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: antiquewhite;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  color: white;
  font-size: 20px;
  position: relative;
}
nav ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: yellowgreen;
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.4s ease-out;
}
nav ul li:hover::before {
  width: 100%;
}
#logo {
  width: 130px;
  cursor: pointer;
  padding-bottom: 10px;
}
.list-group-item {
  padding: 4px 0 !important;
}
.list-group {
  top: 100%;
  width: 35%;
  position: absolute;
}
#flex {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#buscador {
  height: 40px;
  width: 35%;
  border-color: rgb(83, 83, 83);
  color: white;
  background: transparent;
  border: solid 2px;
  background-color: rgba(0, 0, 0, 0.199);
}

h1 {
  font-size: larger !important;
  text-align: center;
}
a {
  text-decoration: none !important;
}
.section-login {
  background-image: linear-gradient(rgb(5, 10, 5), rgb(90, 40, 90, 0.8)),
    url(marvel.jpg);

  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-login div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: solid rgb(255, 255, 255) 3px;
  border-radius: 2em;
  padding: 2em 0;
  background: rgba(72, 3, 3, 0.148);
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 20px;
  font-weight: bold;
  color: rgb(247, 247, 247);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 10px;
}
form input {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
#enviar {
  background-color: black;
  color: white;
  height: 50px;
  padding: 0 10px;
  width: auto;
  border-radius: 1em;
  font-weight: 900;
  align-content: center;
}
.container {
  width: 100% !important;
  margin: 2em 0;
  max-width: none !important;
}
.spa {
  background-color: rgba(255, 228, 196, 0.857);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}
.row {
  justify-content: center;
}
.col-md-4 {
  width: 20% !important;
  text-align: center;
  margin: 4px 4px;
  border: 1px solid white;
  padding: 0 0 !important;
  padding-top: 4px !important;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  transition: all 0.5s;
}
.paginas-spa {
  width: 100%;
}
.usuario-error {
  display: none;
  color: rgb(255, 255, 255);
}
.campos-error {
  display: none;
  color: rgb(255, 255, 255);
}
.accordion-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  margin: 0;
  height: 50px;
  background-color: rgb(214, 90, 23);
  width: 100%;
}
#section_accordion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 228, 196, 0.857);
  min-height: 100vh;
}
.accordion {
  width: 70%;
}
#panelsStayOpen-collapseOne {
  background-color: rgba(79, 77, 77, 0.42) !important;
}
#panelsStayOpen-collapseTwo {
  background-color: rgba(220, 6, 6, 0.42) !important;
}
#panelsStayOpen-collapseThree {
  background-color: rgba(65, 134, 177, 0.42) !important;
}
.accordion-item {
  color: rgb(0, 0, 0) !important;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(33, 131, 80, 0) !important;
}
#logos {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
.fotos_logos {
  object-fit: cover;
  margin-top: 2em;
  width: 75px;
  height: 75px;
}
.img-thumbnail {
  width: 100px !important;
  height: 100px !important;
  transition: 0.3s ease;
}
.col-md-4:hover .img-thumbnail {
  transform: scale(1) translateZ(0);
}
.col-md-4:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.col-md-4:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
@keyframes backgroundAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@media (max-width: 480px) {
  nav {
    width: 100%;
  }
  nav ul li {
    margin: 0 5px;
    font-size: smaller;
  }
  #logo {
    width: 90px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #section_accordion {
    padding: 40px 0;
  }
  #padre {
    margin: 10px 0 0 0;
    padding-left: 0;
    text-align: center;
    width: 100%;
  }
  #buscador {
    width: 45%;
    height: 30px;
  }
  .list-group {
    top: 100%;
    width: 45%;
    font-size: 12px;
  }
  .accordion {
    width: 80%;
    font-size: smaller;
  }
  .accordion-head {
    font-size: medium;
  }
  .fotos_logos {
    width: 50px;
    height: 50px;
  }
  #logos {
    width: 100%;
    justify-content: center;
    gap: 25px;
  }
  .section-login {
    background: linear-gradient(45deg, #8d0000, #44006b, #270164, #010433);
    background-attachment: fixed;
    background-size: 500%;
    animation: backgroundAnimation 4s infinite ease;
  }
  form {
    border: solid 0.5em;
    width: 80%;
  }
  label {
    font-size: medium;
  }
  input {
    height: 35px;
  }
  #enviar {
    font-size: smaller;
  }
  .col-md-4 {
    width: 30% !important;

    margin: 4px 4px;
  }
  .img-thumbnail {
    width: 80px !important;
    height: 80px !important;
  }
  .tittle {
    font-size: 10px;
  }
  .paginas-spa {
    width: 100%;
  }
  .spa {
    padding-bottom: 4em;
  }
  .spa h1 {
    font-size: medium;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  nav {
    width: 100%;
  }
  nav ul li {
    margin: 0 10px;
    font-size: smaller;
  }
  #logo {
    width: 100px;
    position: absolute;
    top: 15px;
    left: 25px;
  }
  #section_accordion {
    padding: 40px 0;
  }
  #padre {
    justify-content: space-evenly;
    display: flex;
    margin-top: 2em;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
  }
  #buscador {
    width: 45%;
    height: 30px;
    max-width: 260px;
  }
  .list-group {
    top: 100%;
    width: 45%;
    max-width: 260px;
    font-size: 12px;
  }
  .accordion {
    width: 80%;
    font-size: smaller;
  }
  .accordion-head {
    font-size: medium;
  }
  .accordion-button {
    font-size: medium !important;
  }
  .fotos_logos {
    width: 50px;
    height: 50px;
  }
  #logos {
    width: 100%;
    justify-content: center;
    gap: 3em;
  }
  .section-login {
    background: linear-gradient(45deg, #8d0000, #44006b, #270164, #010433);
    background-attachment: fixed;
    background-size: 500%;
    animation: backgroundAnimation 4s infinite ease;
  }
  form {
    border: solid 0.5em;
    width: 80%;
    max-width: 420px;
  }
  label {
    font-size: medium;
  }
  input {
    height: 35px;
    width: 60%;
    margin-bottom: 0.5em !important;
  }
  #enviar {
    font-size: smaller;
  }
  .col-md-4 {
    width: 30% !important;
    max-width: 150px !important;
  }
  .img-thumbnail {
    width: 80px !important;
    height: 80px !important;
  }
  .tittle {
    font-size: 10px;
  }
  .spa h1 {
    font-size: medium;
  }
  .paginas-spa {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav {
    justify-content: space-around;
    width: 100%;
  }
  nav ul li {
    font-size: large;
  }
  #logo {
    width: 115px;
  }
  #buscador {
    height: 30px;
  }
  .list-group {
    top: 100%;
    font-size: 14px;
  }
  .accordion {
    width: 85%;
  }
  .accordion-head {
    font-size: large;
  }
  .fotos_logos {
    width: 80px;
    height: 70px;
  }
  #logos {
    width: 100%;
    justify-content: center;
    gap: 3em;
  }
  form {
    border: solid 0.5em;
    width: 80%;
    max-width: 420px;
  }
  label {
    font-size: medium;
  }
  input {
    height: 35px;
    width: 60%;
  }
  .col-md-4 {
    width: 30% !important;
    max-width: 150px !important;
  }
  .img-thumbnail {
    width: 80px !important;
    height: 80px !important;
  }
  .tittle {
    font-size: 10px;
  }
  .spa h1 {
    font-size: medium;
  }
  .paginas-spa {
    width: 100%;
  }
}
